html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

    /* disabled hightlight */
    /* If you want to implement it in very old browser-versions */
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    /* The rule below is not implemented in browsers yet */
    -o-user-select: none;
    /* The rule below is implemented in most browsers by now */
    user-select: none;
}

body {
    /* font-family: 'Silkscreen', cursive; */
    font-family: 'Calibri';
}

.global-area {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left-area {
    /* height: 100%; */
    flex: 0 0 250px;
    background-image: linear-gradient(#17458f, #081933);
    text-align: center;
}

.right-area {
    /* height: 100%; */
    width: 100%;
    padding: 20px 30px 0px;
    background: linear-gradient(90deg, rgb(22, 22, 22) 0%, rgba(29, 32, 34, 1) 4%, rgba(29, 32, 34, 1) 100%);
}

.header-title {
    color: silver;
    margin: 20px auto 30px;
    font-size: 1.5em;
    text-align: center;
    display: inline-block;
}

.result-box {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    height: 120px;
    width: 200px;
    background-color: hsl(217, 73%, 19%);
    /* for horizontal center position */
    margin: 0px auto;
    /* below for engrave box effect */
    box-shadow: 2px 2px 2px rgba(55, 86, 136, 0.8),
        inset 2px 2px 2px rgba(13, 31, 62, 0.8);
}

.result-grid {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
}

.notify {
    color: silver;
    text-align: left;
    font-size: 1.5em;
}

.logo-box {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    height: 148px;
    width: 100%px;
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-position: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    background-color: #31363A;
}

.easy {
    height: 288px;
    width: 288px;
}

.medium {
    height: 512px;
    width: 512px;
}

.hard {
    height: 512px;
    width: 960px;
}

.grid div {
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: #73c7ff;
    box-sizing: border-box;
    border: solid 1px black;
    border-radius: 3px;
    cursor: pointer;
    margin: 1px;
    box-shadow: 0px -7px 10px -8px rgba(0, 0, 0, 0.45) inset,
        7px 0px 10px -8px rgba(0, 0, 0, 0.45) inset,
        0px 7px 10px -8px rgba(0, 0, 0, 0.45) inset,
        -7px 0px 10px -8px rgba(0, 0, 0, 0.45) inset;
}

.grid div:active {
    background-color: #4889AA;
}

/* .grid div:hover {
    background-color: rgb(224, 224, 224);
} */

.checked {
    box-shadow: 0px -7px 10px -8px rgba(0, 0, 0, 0.45) inset,
        7px 0px 10px -8px rgba(0, 0, 0, 0.45) inset,
        0px 7px 10px -8px rgba(0, 0, 0, 0.45) inset,
        -7px 0px 10px -8px rgba(0, 0, 0, 0.45) inset;
    background-color: white !important;
    cursor: default;
}

.checked:hover {
    cursor: default !important;
}

.flag {
    line-height: 28px;
    background-color: #e3c14f !important;
    box-shadow: none !important;
}

.flag:active {
    background-color: #F19F00 !important;
    box-shadow: 0px -7px 10px -8px rgba(0, 0, 0, 0.45) inset,
        7px 0px 10px -8px rgba(0, 0, 0, 0.45) inset,
        0px 7px 10px -8px rgba(0, 0, 0, 0.45) inset,
        -7px 0px 10px -8px rgba(0, 0, 0, 0.45) inset !important;
}

.block-bomb {
    background-image: url("./bomb-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    /* line-height: 28px; */
}

.block-number {
    line-height: 28px;
    font-size: 1.5em;
    font-weight: bold;
}

.boom {
    background-color: red !important;
}

.false-flag {
    background-color: red !important;
    border: solid 1px grey !important;
    line-height: 28px !important;
}

.color1 {
    color: blue;
}

.color2 {
    color: green;
}

.color3 {
    color: red;
}

.color4 {
    color: navy;
}

.color5 {
    color: brown;
}

.color6 {
    color: teal;
}

.color7 {
    color: purple;
}

.color8 {
    color: grey;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #126748;
    margin: auto;
    padding: 15px;
    border: 1px solid #5a957f;
    width: 50%;
}

.modal-result {
    background-color: transparent;
    margin: auto;
    padding: 15px;
    text-align: center;
    width: 50%;
}

.modal-content-header {
    text-align: center;
    color: white;
    padding: 10px 0px;
    font-size: 22px;
}

.modal-button-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.select-level-button {
    display: block;
    color: white;
    margin: 10px;
    height: 120px;
    width: 120px;
    border-radius: 5px;
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
    text-align: center;
    display: flex;
    cursor: pointer;

    /* disabled hightlight */
    /* If you want to implement it in very old browser-versions */
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    /* The rule below is not implemented in browsers yet */
    -o-user-select: none;
    /* The rule below is implemented in most browsers by now */
    user-select: none;
}

/* transform scale on button click */
.select-level-button:active {
    transform: scale(0.96);
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 9px 19px, rgba(0, 0, 0, 0.23) 0px 5px 5px; */
}

.buttonContent {
    margin: auto;
    font-size: 16px;
}

.button-level-easy {
    background-color: #67aa29;
}

.button-level-medium {
    background-color: #cea810;
}

.button-level-hard {
    background-color: #d2572d;
}

/* .result-message {
    font-size: 4.5em;
    font-weight: 900;
    color: white;
    text-shadow: rgb(239, 157, 8) 7px 0px 0px, rgb(239, 157, 8) 6.92869px 0.996602px 0px, rgb(239, 157, 8) 6.71622px 1.9729px 0px, rgb(239, 157, 8) 6.36692px 2.909px 0px, rgb(239, 157, 8) 5.8879px 3.78584px 0px, rgb(239, 157, 8) 5.28893px 4.58555px 0px, rgb(239, 157, 8) 4.5822px 5.29183px 0px, rgb(239, 157, 8) 3.78212px 5.8903px 0px, rgb(239, 157, 8) 2.90498px 6.36876px 0px, rgb(239, 157, 8) 1.96865px 6.71747px 0px, rgb(239, 157, 8) 0.992221px 6.92932px 0px, rgb(239, 157, 8) -0.00442571px 7px 0px, rgb(239, 157, 8) -1.00098px 6.92806px 0px, rgb(239, 157, 8) -1.97715px 6.71498px 0px, rgb(239, 157, 8) -2.91303px 6.36508px 0px, rgb(239, 157, 8) -3.78956px 5.88551px 0px, rgb(239, 157, 8) -4.58889px 5.28603px 0px, rgb(239, 157, 8) -5.29472px 4.57885px 0px, rgb(239, 157, 8) -5.89269px 3.77839px 0px, rgb(239, 157, 8) -6.3706px 2.90095px 0px, rgb(239, 157, 8) -6.71871px 1.96441px 0px, rgb(239, 157, 8) -6.92995px 0.98784px 0px, rgb(239, 157, 8) -6.99999px -0.00885142px 0px, rgb(239, 157, 8) -6.92743px -1.00536px 0px, rgb(239, 157, 8) -6.71372px -1.98139px 0px, rgb(239, 157, 8) -6.36324px -2.91705px 0px, rgb(239, 157, 8) -5.88311px -3.79328px 0px, rgb(239, 157, 8) -5.28313px -4.59223px 0px, rgb(239, 157, 8) -4.57551px -5.29762px 0px, rgb(239, 157, 8) -3.77466px -5.89507px 0px, rgb(239, 157, 8) -2.89692px -6.37243px 0px, rgb(239, 157, 8) -1.96016px -6.71995px 0px, rgb(239, 157, 8) -0.983458px -6.93057px 0px, rgb(239, 157, 8) 0.0132771px -6.99999px 0px, rgb(239, 157, 8) 1.00974px -6.92679px 0px, rgb(239, 157, 8) 1.98564px -6.71247px 0px, rgb(239, 157, 8) 2.92107px -6.36139px 0px, rgb(239, 157, 8) 3.797px -5.88071px 0px, rgb(239, 157, 8) 4.59557px -5.28022px 0px, rgb(239, 157, 8) 5.30051px -4.57215px 0px, rgb(239, 157, 8) 5.89746px -3.77094px 0px, rgb(239, 157, 8) 6.37426px -2.89289px 0px, rgb(239, 157, 8) 6.72119px -1.95591px 0px, rgb(239, 157, 8) 6.93119px -0.979076px 0px;
} */

.result-message-win {
    font-size: 55px;
    font-weight: 900;
    color: white;
    /* text-transform: uppercase; */
    background: -webkit-linear-gradient(-90deg, #ff8d00 5%, #fea000 53%, #fad600 91%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 14px transparent;
}

.result-message-lost {
    font-size: 55px;
    font-weight: 900;
    color: white;
    /* text-transform: uppercase; */
    background: -webkit-linear-gradient(-90deg, #494949 5%, #737272 53%, #808080 91%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 14px transparent;
}

.row-button-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.button-item-result {
    display: block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
    text-align: center;
    display: flex;
    cursor: pointer;

    
}

/* transform scale on button click */
.button-item-result:active {
    transform: scale(0.96);
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 9px 19px, rgba(0, 0, 0, 0.23) 0px 5px 5px; */
}

.menu-block {
    display: flex;
    flex-direction: column;
    width: 45px;
    margin-bottom: 10px;
}

.menu {
    display: block;
    height: 45px;
    width: 45px;
    margin: auto;
    border-radius: 50%;
    background-color: transparent;
    background-image: url('./menu-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.menu:hover {
    background-color: #585B5E;
}

.menu-text {
    padding-top: 5px;
    color: #F6F2F6;
    text-align: center;
}